* {
    margin: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 50px;
    font-weight: 700;
    color: #555;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(182, 100%, 75%);
}

#card .form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 3rem 1.5rem 1.5rem;
}

#card .form .result {
    margin: 1rem auto 0;
    font-size: 35px;
    font-weight: 700;
}

#card .form .result::selection {
    user-select: none;
}

#card .form .label {
    font-weight: 500;
    margin-bottom: 5px;
}

#card .form .input {
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 300;
}

#card .form .check_btn {
    margin: 1rem auto 0;
    padding: 0.5rem 2rem;
}



@media (min-width: 320px) and (max-width: 575.98px) {
    .title {
        font-size: 25px;
        margin-bottom: 1rem;
        width: 260px;
    }

    #card .form {
        width: 19rem;
        padding: 3rem 1.5rem 2rem;
    }

    #card .form .label {
        font-size: 16px;
        margin-bottom: 0;
    }

    #card .form .input {
        margin-bottom: .5rem;
        font-weight: 300;
    }

    #card .form .result {
        margin: 1rem auto 0;
        font-size: 26px;
    }

    #card .form .check_btn {
        margin: .5rem auto 0;
        padding: .5rem 2rem;
    }

}